.lib-vendor-prefix-transform (@_value: 0) when not (@_value = false) {
    -moz-transform: @_value;
    -o-transform: @_value;
    -webkit-transform: @_value;
    transform: @_value;
}

.lib-back-link-with-icon(
    @_back-link-color: @color-black
) {
    .lib-link(
        @_link-color: @_back-link-color,
        @_link-color-visited: @_back-link-color,
        @_link-color-hover: @_back-link-color,
        @_link-color-active: @_back-link-color
    );
    .lib-css(font-weight, @font-weight__bold);

    &:before {
        -webkit-transition: -webkit-transform .5s ease;
        transition: transform .5s ease;
    }
    &:hover {
        &:before {
            -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
        }
    }
    &:active {
        &:before {
            -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
        }
    }
}
//
//  Flex layout
//  ---------------------------------------------

.lib-vendor-prefix-justify-content(@_value)
when (@_value = space-between) {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: @_value;
}

.lib-vendor-prefix-justify-content(@_value) when not (@_value = false) {
    -webkit-box-pack: @_value;
    -ms-flex-pack: @_value;
    justify-content: @_value;
}
