.ve-banner-content {
    float: left;
    width: 100%;

    .ve-description {
        position: absolute;
        left: 0;
        right: 0;
        top: 33%;
        z-index: 9;
        margin: 0 auto;
        width: 50%;
        text-align: justify;
        font-weight: 600;
    }
}
