& when (@media-common = true) {
    .category-product-widget {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-wrap(wrap);
        max-width: @layout__max-width;
        margin: 0 auto ;
        padding-right: 0;

        .category-product-widget-title {
            color: @theme__color__primary;
            .lib-vendor-prefix-justify-content(center);
            text-transform: uppercase;
            margin-bottom: @indent__s;
            font-size: 2.7rem;
            font-weight: bold;
        }

        .category-product-widget-link {
            font-size: @font-size__l;
            margin-bottom: @indent__l;
            color: @color-grey-dark;
            justify-content: center;

            a {
                color: @theme__color__secondary;
                font-weight: @font-weight__bold;
            }
        }

        .list-item-container {
            margin: 0 -5px;
            width: calc(~'100% + 10px');
        }

        .list-item {
            padding: 0 5px;
            margin-bottom: @indent__l;

            img {
                display: block;
                min-width: 100%;
            }
        }

        .item-image {
            width: 100%;
            position: relative;
        }

        .item-data {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-wrap(wrap);
            .lib-vendor-prefix-justify-content(space-between);
            width: 100%;
            margin: @indent__base @indent__base 0;
            padding-bottom: 0;
            .lib-vendor-box-align(baseline);
            position: relative;

            .item-name,
            .price-final_price {
                display: block;
                width: 100%;
                text-align: center;
            }

            .item-name {
                text-transform: uppercase;
                font-weight: bold;
            }
        }

        .item-special-price-container {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-box-align(flex-end);
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .category-product-widget {
        .category-product-widget-title {
            font-size: 3.8rem;

        }

        .item-data {
            .item-price {
                text-align: right;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .category-product-widget {
        .item-data {
            margin: @indent__s 0 0 0;
            padding-bottom: 0;
            border-bottom: 0;

            .item-price {
                text-align: right;
            }
        }

        .item-name {
            width: 100%;
        }

        .price-box {
            padding-left: 0;
        }
    }
}
