& when (@media-common = true) {
    .category-product-widget {
        .list-item-container {
            margin: 0 -5px;
            width: calc(100% + 10px);
        }

        .list-item {
            padding: 0 5px;
            margin-bottom: 3rem;
        }

        .product-item:nth-child(2n+1) {
            margin-left: 0;
        }

        .item-image {
            width: 100%;
            position: relative;

            img {
                display: block;
                min-width: 100%;
            }
        }

        .item-data {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            margin: 2rem 2rem 0;
            padding-bottom: 2rem;
            -webkit-align-items: baseline;
            align-items: baseline;
            position: relative;
            border-bottom: 1px solid rgba(0, 0, 0, .2);
        }

        .price-box {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: flex-end;
            -ms-flex-pack: flex-end;
            justify-content: flex-end;
            -webkit-align-items: center;
            align-items: center;
            text-align: right;
            padding-left: 1rem;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .category-product-widget {
        .item-data {
            .item-price {
                text-align: right;
            }
        }
    }
    .collection-name, .collection-label {
        max-width: 160px;
        right: 0;
        font-size: 1.8rem;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .category-product-widget {
        .item-data {
            margin: @indent__s 0 0 0;
            padding-bottom: 0;
            border-bottom: 0;

            .item-price {
                text-align: right;
            }
        }

        .item-name {
            width: 100%;
        }

        .price-box {
            padding-left: 0;
        }
    }
}


