& when (@media-common = true) {
    .checkout-cart-index {
        .column.main {
            .cart-container {
                .form.form-cart {
                    .actions-toolbar,
                    .cart.main.actions {
                        .action {
                            background: @theme__color__primary;
                            color: @color-white;

                            &:hover{
                                color: @color-secondary;
                            }
                        }
                    }
                }
            }
        }
    }
}
