& when (@media-common = true) {
    .contact-index-index {
        .form-contact {
            margin: 0 auto 5rem auto;

            .title-landing {
                letter-spacing: 0.05rem;
                margin-bottom: 15px;
                font-size: 2rem;
                padding: 0 0 10px;
                position: relative;
                text-transform: uppercase;

                :after {
                    content: "";
                    position: absolute;
                    width: 60px;
                    padding-top: 10px;
                    border-bottom: 3px solid @color-black;
                    bottom: 0;
                    left: 0;
                }
            }

            .block-field {
                align-items: center;
                margin-bottom: 10px;

                .control {
                    flex: 1 0 70%;

                    input, select {
                        border-color: @theme__color__primary;
                    }
                }
            }

            .block-actions-toolbar {
                margin-top: 10px;
                margin-right: 10px;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                text-transform: uppercase;

                button[type="submit"] {
                    margin-left: auto;
                    margin-right: 0;
                }
            }

            textarea {
                border: 1px solid @theme__color__primary;
                border-radius: 3px;
                min-height: 50px;
                font-size: 1.3rem;
                background: @color-white;
                height: auto;
                margin: 0;
                padding: 10px;
                vertical-align: baseline;
                width: 100%;
                box-sizing: border-box;
                resize: vertical;
            }

        }

        .contact-map {
            iframe {
                width: 100%;
                border: 1px solid @color-black;
                border-radius: 10px;
                box-shadow: 10px 10px @theme__color__primary;
            }
        }
    }
}

@media only screen and (min-width: @screen__xs) {
    .contact-index-index {
        .form-contact {
            font-size: 2.2rem;
            line-height: 2.2rem;
        }
    }
}
