& when (@media-common = true) {
    .customer-account-create{
        .page-wrapper{
            .main{
                .form.create.account{
                    margin: 0 auto;
                    .fieldset.create{
                        .legend{
                            width: 100%;
                            text-align: center;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
