& when (@media-common = true) {
    .customer-account-login {
        .login-container {
            .block-customer-login,
            .block-new-customer {

                .field {
                    .control {
                        width: 100%;
                    }
                }

                .actions-toolbar {
                    .primary,
                    .secondary {
                        display: block;
                        width: 100%;
                    }

                    .primary {
                        button[type="submit"] {
                            width: 100%;
                        }
                    }

                    .secondary {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}
