.sales-order-view {
    .admin__page-section-title {
        .title-right {
            float: right;
            color: @color-brown-darker;
            font-weight: 400;
            line-height: 1.2;
            font-size: 2rem;
        }
    }

    .customer-extensions {
        display: inline-block;
        width: 65%;
    }

    .shipping-extensions {
        display: inline-block;
        width: 30%;
        margin-left: 30px;
        float: right;
    }

    .dedication-extensions {
        textarea {
            width: 95%;
            height: 140px;
        }
    }
}
