.customer-index-edit {
    .admin__field.admin__field-x-small {
        > .admin__field-control {
            width: 70%;
        }
    }

    ._has-datepicker {
        .admin__control-text {
            width: 35%;
        }
    }
}
