//
// Grid system
// --------------------------------------------------
@import '_variables.less';
@import 'mixins/_grid-framework.less';
@import 'mixins/_grid.less';

// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container {
    .container-fixed();
    width: 100%;
    @media (min-width: @screen-sm-min) {
        max-width: @container-sm;
    }
    @media (min-width: @screen-md-min) {
        max-width: @container-md;
    }
    @media (min-width: @screen-l-min) {
        max-width: @container-lg;
    }
}


// Fluid container

.container-fluid {
    .container-fixed();
}


// Row

.row {
    .make-row();
}


// Columns

.make-grid-columns();


// Extra small grid

.make-grid(xs);

// Small grid

@media (min-width: @screen-sm-min) {
    .make-grid(sm);
}

// Medium grid

@media (min-width: @screen-md-min) {
    .make-grid(md);
}

// Large grid

@media (min-width: @screen-l-min) {
    .make-grid(lg);
}
