<?php /** @var \Vespeja\Store\Block\Store $block */ ?>
<div class="footer-info-container col-xs-12">
    <div class="footer-info-content col-xs-12 col-sm-6 first">
        <span class="footer-info-item corporate-name"><?= $block->getName();?></span>
        <span class="footer-info-item location"><?= $block->getLocation();?></span>
        <span class="footer-info-item country"><?= $block->getCountry();?></span>
    </div>
    <div class="footer-info-content col-xs-12 col-sm-6">
        <span class="footer-info-item corporate-email"><?= __('Email') . ': ' . $block->getStoreEmail();?></span>
        <span class="footer-info-item corporate-phone"><?= __('Customer service') . ': ' . $block->getPhoneNumber();?></span>
        <span class="footer-info-item corporate-hours"><?= __('Customer service schedule') . ': ' . $block->getHours();?></span>
    </div>
</div>
