<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Catalog\Block\Product\View\Details $block */
?>
<?php if ($detailedInfoGroup = $block->getGroupSortedChildNames('detailed_info', 'getChildHtml')) : ?>
    <div class="product-description-container">
        <?php $layout = $block->getLayout(); ?>
            <?php foreach ($detailedInfoGroup as $name) : ?>
                <?php
                if ($name == 'product.info.description'): ?>
                    <?php
                    $html = $layout->renderElement($name);
                    if (!trim($html)) {
                        continue;
                    }
                    $alias = $layout->getElementAlias($name);
                    $label = $block->getChildData($alias, 'title');
                    ?>
                    <div class="data item content"
                         aria-labelledby="tab-label-<?= $block->escapeHtmlAttr($alias) ?>-title"
                         id="<?= $block->escapeHtmlAttr($alias) ?>" data-role="content">
                        <div class="product-description-title"> <?= __($label) ?></div>
                        <?= /* @noEscape */
                        $html ?>
                    </div>
                <?php endif; ?>
            <?php endforeach; ?>
    </div>
<?php endif; ?>
