@vespeja-icons-bus__font-name-path: '@{baseDir}Vespeja_BackendMenu/fonts/v';
@vespeja-icons-bus__font-name : 'Vespeja_BackendMenu';

.lib-font-face(
  @family-name:@vespeja-icons-bus__font-name,
  @font-path: @vespeja-icons-bus__font-name-path,
  @font-weight: normal,
  @font-style: normal
);

.admin__menu .item-bus-main.parent.level-0 > a:before {
  font-family: @vespeja-icons-bus__font-name;
  content: "\e901";
}
