<!--@subject {{trans "Invoice for order" }} @-->
<!--@vars {
"var order_data.customer_name":"Customer Name",
"var invoice.increment_id":"Invoice Id",
"var order.increment_id":"Order Id",
"var store.frontend_name":"Store Frontend Name",
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "%name," name=$order_data.customer_name}}</p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <h1>{{trans "Invoice #%invoice_id for Order #%order_id" invoice_id=$invoice.increment_id order_id=$order.increment_id}}</h1>
            <p>
                {{trans 'We attach the invoice in PDF.'}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
