& when (@media-common = true) {

    .page-products,
    .page-layout-1column,
    .page-products.page-layout-1column,
    .page-products.page-layout-2columns-left {

        .toolbar {
            color: @theme__color__primary;
        }

        .products-grid {
            .product-items {
                .product-item {
                    display: inline-block;
                    margin-bottom: 3rem;
                    padding: 0;
                    margin-left: 0;
                    width: calc((100% - 10px) / 2);

                    &:nth-child(2n) {
                        margin-left: 20px;
                    }

                    .product-item-info {
                        width: 100%;
                        text-align: center;

                        .product-item-photo {
                            .product-image-container {
                                img {
                                    left: auto;
                                }
                            }
                        }

                        .product-item-details {
                            text-align: center;
                            font-weight: bold;

                            .product-item-link {
                                color: @color-grey-dark;
                            }

                        }
                    }

                    .price-container {
                        .configurable-price-title {
                            font-weight: bold;
                            color: @color-gray62;
                        }
                    }
                }
            }
        }

        .filter-content {
            .filter-current {
                ol {
                    li {
                        .filter-value {
                            margin-right: 10px;
                            font-weight: 600;
                            border-bottom: 3px solid black;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: (@screen__xs - 1)) {
    .page-products,
    .page-layout-1column,
    .page-products.page-layout-1column,
    .page-products.page-layout-2columns-left {
        .products-grid {
            .product-items {
                .product-item {
                    .product-item-info {
                        .product-item-details {
                            .product-item-inner {
                                .product-item-actions {
                                    button[type="submit"] {
                                        font-size: 1.3rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: @screen__xs) {
    .page-products,
    .page-layout-1column,
    .page-products.page-layout-1column,
    .page-products.page-layout-2columns-left {
        .products-grid {
            .product-items {
                .product-item {
                    margin-left: 10px;
                }
            }
        }

    }
}

@media only screen and (min-width: @screen__l) {
    .page-products,
    .page-layout-1column,
    .page-products.page-layout-1column,
    .page-products.page-layout-2columns-left {
        .products-grid {
            .product-items {
                .product-item {
                    width: calc((100% - 10px) / 3);

                    &:nth-child(2n) {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

}

