& when (@media-common = true) {

    .catalog-category-view {
        .products-grid {
            .product-items {
                .product-item {
                    .price-container {
                        .configurable-price-title {
                            font-weight: bold;
                            color: @theme__color__primary;
                        }
                    }
                }
            }
        }
    }

    .catalog-product-view {
        .page-main {
            > .page-title-wrapper {
                text-align: left;
                margin: 20px 0 10px 0;
                padding-left: 0;

                .page-title {
                    color: @theme__color__primary;
                    font-size: 3.4rem;
                    font-weight: bold;
                    margin-bottom: 0;
                }
            }

            .main {
                .product-info-main {
                    float: left;

                    .product-info-price {
                        .price-box {
                            margin-bottom: 3rem;

                            .price-wrapper {
                                .price {
                                    font-size: 2.5rem;
                                }
                            }
                        }

                        .product-info-stock-sku {
                            .custom-stock-title {
                                display: inline-block;
                                color: @color-grey-medium;
                            }

                            .stock.available,
                            .stock.unavailable,
                            .product.attribute.sku .value {
                                color: @color-grey-dark;
                                font-weight: bold;
                            }

                            .product.attribute.sku {
                                display: block;

                                .type {
                                    display: inline-block;
                                    color: @color-grey-medium;

                                }
                            }
                        }
                    }

                    .product-add-form {
                        .product-options-wrapper {
                            .swatch-opt {
                                .swatch-attribute {
                                    .swatch-attribute-label {
                                        color: @color-grey-dark;
                                        text-transform: uppercase;
                                    }

                                    .swatch-option.text {
                                        border-radius: 25px;
                                        color: @color-white;
                                        background: @color-secondary;
                                        &.selected{
                                            background: @theme__color__primary !important;
                                            outline: none;
                                            border: none;
                                            box-shadow: none;
                                        }
                                    }
                                }
                            }

                        }

                        .product-options-bottom {
                            .box-tocart {
                                .fieldset {
                                    .qty {
                                        .label {
                                            text-transform: uppercase;
                                            font-weight: bold;
                                            color: @color-grey-dark;
                                        }

                                        #custom-qty {
                                            .input-group {
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;

                                                .qty {
                                                    width: 5rem;
                                                    border: none;
                                                }

                                                .input-group__addon {
                                                    button {
                                                        padding: 0;
                                                        border-radius: 50%;
                                                        width: 30px;
                                                        height: 30px;
                                                        background-color: @color-secondary;

                                                        span {
                                                            color: @color-white;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .actions {
                                        display: block;

                                        .primary {
                                            background: @theme__color__primary;
                                            font-size: 1.5rem;
                                            line-height: 1.6rem;
                                            border: none;
                                        }
                                    }
                                }
                            }

                            .purchase-guarantees-container {
                                .guarantees-title {
                                    text-transform: uppercase;
                                    color: @color-grey-dark;
                                    margin-bottom: 10px;
                                }

                                .guarantees-list {
                                    .guarantees-list__item {
                                        color: @color-grey-dark;
                                    }
                                }
                            }

                        }
                    }
                }
                .media {
                    float: right;
                    .fotorama-item{
                        .fotorama__nav-wrap{
                            text-align: center;
                        }
                    }
                }

                .product-description-container {
                    .data.content {
                        .product-description-title {
                            text-transform: uppercase;
                            font-weight: bold;
                            color: @color-grey-dark;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }

    }
}
