<?php
/** @var \Magento\Framework\View\Element\Template $block */
?>
<div class="see-you-soon">
    <p><?= $block->escapeHtml(__('You have signed out and will go to our homepage in 5 seconds.')) ?></p>
    <p><?= $block->escapeHtml(__('We hope to see you again soon.')) ?></p>
</div>
