<?php
/** @var \Vespeja\Banners\Block\Banners $block */
$banners = $block->getFrontBanners();
?>
<?php if ($block->isEnabled()) : ?>
    <div id="ve-owl-banner">
        <?php foreach ($banners as $banner): ?>
            <div class="ve-items">
                <div class="ve-banner-content">
                    <?php if ($banner->getDescription()): ?>
                        <div class="ve-description">
                            <span><?= $banner->getDescription() ?></span>
                        </div>
                    <?php endif; ?>
                </div>
                <img src="<?= $block->getBannerImage($banner->getBannerimage()) ?>"/>
            </div>
        <?php endforeach ?>
    </div>

    <script>
        require([
            'jquery',
            'sliderBuilder'
        ], function ($, slider) {
            new slider({
                id: '#ve-owl-banner',
                items: 1,
                dots: false,
                loop: <?= $this->getHelper()->getLoop() ? 'true' : 'false' ?>,
                nav: <?= $this->getHelper()->getNav() ? 'true' : 'false' ?>,
                pagination: <?= $this->getHelper()->getPagination() ? 'true' : 'false' ?>,
                autoplay: <?= $this->getHelper()->getAutoplay() ? 'true' : 'false' ?>,
                autoplayHoverPause: <?= $this->getHelper()->getAutoplayHoverPause() ? 'true' : 'false' ?>,
                margin: <?= $this->getHelper()->getMargin() ? $this->getHelper()->getMargin() : '10' ?>,
                autoPlaySpeed: <?= $this->getHelper()->getAutoPlaySpeed() ? $this->getHelper()->getAutoPlaySpeed() : '200' ?>,
                autoPlayTimeout: <?= $this->getHelper()->getAutoPlayTimeout() ? $this->getHelper()->getAutoPlayTimeout() : '5000' ?>
            }).init();
        });
    </script>
<?php endif; ?>
