<?php
/** @var $block \Magento\LayeredNavigation\Block\Navigation\State */
?>
<?php $_filters = $block->getActiveFilters() ?>
<?php if (!empty($_filters)) : ?>
    <div class="filter-current">
        <ol class="items">
            <strong class="block-subtitle filter-current-subtitle"
                    role="heading"
                    aria-level="2"
                    data-count="<?= /* @noEscape */ count($_filters) ?>"><?= $block->escapeHtml(__('Applied filters:')) ?></strong>

            <?php foreach ($_filters as $_filter) : ?>
                <li class="item">
                    <span class="filter-label"><?= $block->escapeHtml(__($_filter->getName())) ?></span>
                    <span class="filter-value"><?= $block->escapeHtml($block->stripTags($_filter->getLabel())) ?></span>
                    <?php
                    $clearLinkUrl = $_filter->getClearLinkUrl();
                    $currentFilterName = $block->escapeHtmlAttr(__($_filter->getName()) . " " . $block->stripTags($_filter->getLabel()));
                    ?>
                    <a class="action remove" href="<?= $block->escapeUrl($_filter->getRemoveUrl()) ?>"
                       title="<?= /* @noEscape */
                       $block->escapeHtmlAttr(__('Remove')) . " " . $currentFilterName ?>">
                        <span><?= $block->escapeHtml(__('Remove')) ?></span>
                    </a>
                </li>
            <?php endforeach; ?>
        </ol>
    </div>
<?php endif; ?>
