<?php /** @var \Vespeja\Widgets\Block\Home\CategoryProducts $block */
$products = $block->getCategoryProducts();
?>
<?php if (count($products)) : ?>
    <div class="category-product-widget <?php if ($block->getData('max_width')) : ?> grid container<?php endif; ?>">
        <h2 class="category-product-widget-title col-xs-12"><?= $block->getCategoryTitle() ?></h2>
        <div class="col-xs-12 category-product-widget-link">
            <a href="<?= $block->getCategoryUrl() ?>">
                <span class="text-link"><?= __('See complete category...') ?></span>
            </a>
        </div>
        <div class="list-item-container col-xs-12 no-padding">
            <?php foreach ($products as $product): ?>
                <div class="list-item col-xs-6 col-sm-4 product-item">
                    <div class="item-image">
                        <a href="<?= $product->getProductUrl() ?>"
                           class="product-item-photo">
                            <img src="<?= $block->getImageUrl($product) ?>" alt="<?= $product->getName() ?>">
                        </a>
                    </div>
                    <div class="item-data">
                        <div class="item-name title-s">
                            <a title="<?= $product->getName() ?>"
                               href="<?= $product->getProductUrl() ?>"
                               class="product-item-link">
                                <span><?= $product->getName() ?></span>
                            </a>
                        </div>
                        <?= /* @noEscape */ $block->getProductPrice($product) ?>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif ?>
