<?php /** @var \Vespeja\Widgets\Block\Home\MainBanner $block */?>
<div id="main-image-banner"
     class="img-container<?php if ($block->getData('max_width')) : ?> grid container<?php endif; ?>">
    <img src="<?= $block->getImageUrl($block->getData('image1')) ?>" alt="<?= $block->getData('image_alt') ?>">
    <div class="container-link-wrapper">
        <div class="main-container-link-content">
            <div class="main-container-link title-xl">
                <span><?= $block->escapeHtml($block->getData('main_text')) ?></span>
            </div>
        </div>
        <div class="secondary-container-link-content">
            <div class="secondary-container-link">
                <?php foreach ($block->getItems() as $item): ?>
                    <div class="item-link">
                        <a href="<?= $item['button_link'] ?>">
                            <?= $item['button_label'] ?>
                        </a>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
</div>
