<?php /** @var \Vespeja\Widgets\Block\Home\Principal $block */ ?>
<div class="principal-container">
    <div class="principal-text-container">
        <div class="principal-text">
            <span class="principal-text-content title"><?= $block->getData('text') ?></span>
        </div>
    </div>
    <div class="principal-images-container">
        <div class="principal-first-image-container">
            <div class="principal-first-image">
                <img src="<?= $block->escapeUrl($block->getImageUrl($block->getData('main_image'))) ?>">
            </div>
        </div>
        <div class="principal-secondary-image-container">
            <div class="principal-secondary-image">
                <img src="<?= $block->escapeUrl($block->getImageUrl($block->getData('secondary_image'))) ?>">
            </div>
        </div>
    </div>
</div>
