.catalog-product-edit {
    .admin__collapsible-block-wrapper {
        .admin__control-table-wrapper {
            .admin__dynamic-rows {
                .admin__field-control {
                    text-align: center;
                    .admin__control-thumbnail {
                        max-height: 120px;
                    }
                }
            }
        }
    }
}
