//
//  Colors
//  ---------------------------------------------
@interflora-base: #bfa658;
@interflora-light: #c2b280;
@interflora-dark: #a7986c;

@color-phoenix: @interflora-base;
@color-light-phoenix: @interflora-light;
@color-phoenix-brown: @interflora-dark;
@color-phoenix-brown-almost: @interflora-dark;
@color-phoenix-brownie: @interflora-dark;
@color-phoenix-dark: @interflora-dark;
@color-phoenix-down: @interflora-dark;
@color-phoenix-rise: @interflora-base;

//  Base button
@button__background-color: @color-gray89;
@button__border-color: @action__border-color;
@button__color: @color-brownie;

@button__active__background-color: darken(@button__background-color, 5%);
@button__hover__background-color: darken(@button__background-color, 3%);
@button__hover__border-color: @color-very-dark-gray-black;
@button__hover__box-shadow: 0 0 0 1px @button__hover__border-color;

//  Primary button
@primary__color: @interflora-base;
@button-primary__background-color: @primary__color;
@button-primary__color: @color-white;
@button-primary__hover__background-color: @interflora-dark;
@button-primary__hover__border-color: @interflora-dark;

//  Focus
@focus__color: @color-very-dark-gray-black;
@focus__box-shadow: 0 0 0 1px @focus__color;

//
//  Dropdown
//  ---------------------------------------------
@action-dropdown__active__border-color: @color-very-dark-gray-black;

@import 'section/customer/_edit.less';
@import 'section/sales/order/_view.less';
@import 'section/stores/_config.less';
@import 'section/gdpr/_checkout.less';
@import 'section/catalog/product/_configurable.less';
