<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Contact\Block\ContactForm $block */
?>
<form class="form form-contact col-xs-12 no-padding"
      action="<?= $block->escapeUrl($block->getFormAction()) ?>"
      id="contact-form"
      method="post"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
      data-mage-init='{"validation":{}}'>
    <div class="title-landing col-xs-12"><?= $block->escapeHtml(__('Write Us')) ?></div>
    <div class="block-field-container col-xs-12 no-padding">
        <div class="block-field name required col-xs-12 col-sm-6">
            <div class="control">
                <input name="name" id="name" title="<?= $block->escapeHtmlAttr(__('Name')) ?>"
                       placeholder="<?= $block->escapeHtml(__('Name')) ?>"
                       value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('name') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserName()) ?>"
                       class="input-text required-entry" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="block-field email required col-xs-12 col-sm-6">
            <div class="control">
                <input name="email" id="email" title="<?= $block->escapeHtmlAttr(__('Email')) ?>"
                       placeholder="<?= $block->escapeHtml(__('Email')) ?>"
                       value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('email') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserEmail()) ?>"
                       class="input-text required-entry" type="email"
                       data-validate="{required:true, 'validate-email':true}"/>
            </div>
        </div>
        <div class="block-field telephone col-xs-12 col-sm-6">
            <div class="control">
                <input name="telephone" id="telephone" title="<?= $block->escapeHtmlAttr(__('Phone Number')) ?>"
                       placeholder="<?= $block->escapeHtml(__('Phone Number')) ?>"
                       value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('telephone')) ?>"
                       class="input-text" type="text"/>
            </div>
        </div>
        <div class="block-field subject required col-xs-12 col-sm-6">
            <div class="control select-wrapper">
                <select name="subject" id="subject" class="validate-select required-entry">
                    <option value=""><?= $block->escapeHtml(__('What is the main reason for your inquiry?')) ?></option>
                    <option
                        value="<?= $block->escapeHtml(__('I want to cancel or modify an order')) ?>"><?= $block->escapeHtml(__('I want to cancel or modify an order')) ?></option>
                    <option
                        value="<?= $block->escapeHtml(__('I want to make a return')) ?>"><?= $block->escapeHtml(__('I want to make a return')) ?></option>
                    <option
                        value="<?= $block->escapeHtml(__('I want to know when a sold out product will return')) ?>"><?= $block->escapeHtml(__('I want to know when a sold out product will return')) ?></option>
                    <option
                        value="<?= $block->escapeHtml(__('I need more information about a specific product')) ?>"><?= $block->escapeHtml(__('I need more information about a specific product')) ?></option>
                    <option
                        value="<?= $block->escapeHtml(__('Other issues')) ?>"><?= $block->escapeHtml(__('Other issues')) ?></option>
                </select>
            </div>
        </div>
        <div class="block-field comment required col-xs-12">
            <div class="control">
                <textarea name="comment" id="comment" title="<?= $block->escapeHtmlAttr(__('What’s on your mind?')) ?>"
                          placeholder="<?= $block->escapeHtml(__('What’s on your mind?')) ?>"
                          class="input-text required-entry" cols="5" rows="3"
                          data-validate="{required:true}"><?= $block->escapeHtml($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('comment')) ?></textarea>
            </div>
        </div>
    </div>
    <div class="block-actions-toolbar">
        <input type="hidden" name="hideit" id="hideit" value=""/>
        <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary small">
            <span><?= $block->escapeHtml(__('Submit')) ?></span>
        </button>
    </div>
</form>

<?= $block->getChildHtml('form.additional.info') ?>


