<?php
/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>
<div class="logo-container">
    <a class="logo"
       href="<?= $block->escapeUrl($block->getUrl('')) ?>"
       aria-label="store logo">
        <img src="<?= $block->escapeUrl($block->getLogoSrc()) ?>"
            <?= $block->getLogoWidth() ? 'width="' . $block->escapeHtmlAttr($block->getLogoWidth()) . '"' : '' ?>
            <?= $block->getLogoHeight() ? 'height="' . $block->escapeHtmlAttr($block->getLogoHeight()) . '"' : '' ?>
        />
    </a>
    <span data-action="toggle-nav" class="action nav-toggle"><span><?= $block->escapeHtml(__('Toggle Nav')) ?></span></span>
</div>
