<?php /** @var \Magento\Customer\Block\Account\AuthorizationLink $block */ ?>
<div class="account-container dropdown-check" data-bind="scope: 'customer'">
    <div class="customer-login">
        <a class="action nav-myaccount" href="<?= $block->getUrl('customer/account') ?>">
            <img src="<?= $block->getViewFileUrl('images/icon-user.svg') ?>">
        </a>
    </div>
    <!-- ko if: customer().fullname  -->
    <div class="customer-sign-out">
        <a class="action nav-myaccount" href="<?= $block->getHref(); ?>">
            <img src="<?= $block->getViewFileUrl('images/icon-exit.svg') ?>">
        </a>
    </div>
    <!-- /ko -->

</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "customer": {
                        "component": "Magento_Customer/js/view/customer"
                    }
                }
            }
        }
    }
</script>
