& when (@media-common = true) {
    .page-wrapper {
        .nav-sections {

            .nav-sections-items {
                .section-item-title.nav-sections-item-title {
                    display: none;
                }

                .navigation {
                    margin: 0;
                    max-width: @screen__xxxl;

                    .ui-menu {
                        background-color: @theme__color__primary;
                    }

                    .category-item {
                        a {
                            text-transform: uppercase;
                            color: @color-white;

                            &:hover {
                                color: @color-secondary;
                            }
                        }
                    }

                    .level0 {
                        &.active {
                            > .level-top {
                                border: none;

                                &:hover {
                                    border-bottom: 3px solid @color-secondary;
                                }
                            }
                        }

                        .submenu {
                            background: @theme__color__primary;

                            &:before {
                                background: @theme__color__primary;
                            }

                            a {
                                &:hover {
                                    background: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        .breadcrumbs {
            .items {
                .item {
                    a {
                        color: @color-secondary;
                    }
                }
            }
        }

        .owl-carousel.owl-theme {
            .owl-nav {
                button {
                    border: none;

                    &:before, &:after {
                        border-top-color: @color-secondary;
                    }
                }
            }
        }
    }

    .page-footer {
        .footer.content {
            max-width: none;
            padding: 0;
            margin-top: 25px;

            .newsletter {
                max-width: 720px;
                float: none;
                margin: 30px auto;

                .title {
                    text-transform: uppercase;
                    text-align: center;
                    display: block;
                    margin-bottom: 15px;
                    letter-spacing: 0.05rem;
                    line-height: 1;
                    font-size: 2rem;
                    font-weight: bold;
                    color: @theme__color__primary;
                }

                .content {
                    margin: 0 auto;

                    .form.subscribe {
                        .newsletter-input-container {
                            position: relative;

                            input {
                                border: 0;
                                border-bottom: 1px solid @color-black;
                                border-radius: 0;
                            }
                        }

                        .actions {
                            display: block;
                            width: 100%;

                            .action.subscribe {
                                margin-top: 10px;
                                width: 100%;
                                text-align: center;
                                padding: 6px 15px;
                            }
                        }

                    }
                }
            }

            .copyright {
                display: block;
                background: @theme__color__primary;
                color: @color-white;
                padding: 10px;
                text-align: center;
            }

            .footer-info-container,
            .footer-links-container {
                padding: 20px 10px;
                max-width: @screen__m;
                margin: auto;
                color: @theme__color__secondary;

                .footer-links-title {
                    text-transform: uppercase;
                    margin-bottom: 5px;
                    font-weight: bold;
                    color: @theme__color__primary;
                }

                .footer-info-content.first {
                    margin-bottom: 2rem;
                }

                .footer-info-content,
                .footer-links-content {
                    .footer-info-item,
                    .footer-link-item {
                        width: 100%;

                        a {
                            &:hover {
                                color: @theme__color__primary;
                                text-decoration-color: @color-secondary;
                            }
                        }
                    }
                }
            }
        }
    }

    .account-container {
        padding-right: 15px;
        padding-top: 5px;
        display: inline-block;
        position: relative;
        float: right;

        .nav-myaccount {
            color: @color-grey-dark;
        }
    }

    .products.wrapper ~ .toolbar-products {
        display: none;
    }

    .page-title-wrapper {
        margin: 2rem auto 3rem;
        padding: 0 2rem;
        box-sizing: border-box;
        text-align: center;
        text-transform: uppercase;
        color: @theme__color__primary;

        h1 {
            font-size: 2.6rem;
            font-weight: bold;
        }
    }

    input[type="text"],
    input[type="password"],
    input[type="number"],
    input[type="datetime"],
    input[type="email"],
    select {
        padding: 0 9px;
        vertical-align: baseline;
        width: 100%;
        box-sizing: border-box;
        background: @color-white;
        background-clip: padding-box;
        border: 1px solid @color-grey-medium;
        border-radius: 3px;
        height: 30px;
        font-size: 1.3rem;
    }

    .links-content {
        padding-top: 50px;
    }

    .col-xs-2, .col-sm-2 {
        width: 16.66%;
    }

    .col-xs-3, .col-sm-3 {
        width: 25%;
    }

    .col-xs-4, .col-sm-4 {
        width: 33.33%;
    }

    .col-xs-6, .col-sm-6 {
        width: 50%;
    }

    .col-xs-12, .col-sm-12 {
        width: 100%;
    }

    .no-padding {
        padding: 0 !important;
    }

    .grid {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }

    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }

    .title-s {
        font-style: normal;
        line-height: 1.45;
        font-size: 1.4rem;
    }

    body {
        background-color: @theme__color__background;

        button.primary,
        .action.primary,
        .action.primary.submit {
            border-radius: 0;
            letter-spacing: 0.05rem;
            line-height: 1;
            box-sizing: border-box;
            text-align: center;
            white-space: inherit;
            cursor: pointer;
            color: @color-white;
            padding: 8px 30px 8px;
            font-size: 1.8rem;
            text-transform: uppercase;
        }

        button.primary.small,
        .action.primary.small,
        .action.primary.submit.small {
            padding: 7px 20px 7px;
            font-size: 1.8rem;
        }


        .page-header {
            border: none;
            margin-bottom: 0;

            .panel.wrapper {
                .panel.header {
                    .switcher {
                        float: right;

                        .options {
                            .action.toggle,
                            .switcher-dropdown .switcher-option {
                                padding: 5px 10px 5px 15px;
                                background: @color-secondary;
                                color: @color-white;

                                .strong {
                                    font-weight: bold;
                                }
                            }

                            .switcher-dropdown {
                                .switcher-option {
                                    padding: 0;

                                    a {
                                        color: @color-white;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .header.content {
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 25px;

                .logo-container {
                    margin-right: auto;

                    .logo {
                        display: block;
                        padding-left: 28px;
                        margin: 0;

                        img {
                            height: 90px;
                        }
                    }
                }

                .account-container {
                    padding: 0;

                    .customer-login {
                        margin-right: 8px;
                    }

                    .customer-login,
                    .customer-sign-out {
                        display: inline-block;

                        .nav-myaccount {
                            img {
                                height: 23px;
                                padding-top: 7px;
                            }
                        }
                    }
                }

                .minicart-wrapper {
                    margin-top: 0;

                    .action.showcart {
                        &:before {
                            color: @color-blue;
                        }

                        .counter.qty {
                            background: @theme__color__primary;
                            color: @color-white;
                        }
                    }
                }

                .block-search {
                    .block-content {
                        form {
                            .field.search {
                                .label {
                                    &:before {
                                        color: @color-blue;
                                    }
                                }

                                .control {
                                    padding: 0;
                                    margin: 0 0 20px;
                                    border-top: none;

                                    input {
                                        left: 0;
                                        padding-right: 10px;
                                    }
                                }
                            }

                            .actions {
                                button[type="submit"] {
                                    &:before {
                                        padding-right: 10px;
                                        color: @color-blue;
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }
    }

}

@media only screen and (min-width: @screen__xs) {
    body {
        .page-header {
            .header.content {
                .block-search {
                    .block-content {
                        form {
                            .field.search {
                                .label {
                                    display: none;
                                }

                                .control {
                                    margin: 0;

                                    input {
                                        margin: 0;
                                        position: relative;
                                    }
                                }
                            }

                            .actions {
                                .action.search {
                                    right: 0;

                                    &:before {
                                        -webkit-font-smoothing: antialiased;
                                        -moz-osx-font-smoothing: grayscale;
                                        font-size: 22px;
                                        line-height: 22px;
                                        content: '\e615';
                                        margin: 0;
                                        vertical-align: top;
                                        display: inline-block;
                                        font-weight: normal;
                                        overflow: hidden;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }

    .page-footer {
        .footer.content {
            .newsletter {
                .title {
                    font-size: 2.4rem;
                }
            }
        }
    }
}

@media only screen and (min-width: @screen__m) {

    .title-s {
        font-size: 2rem;
    }

    .page-title-wrapper {
        margin-top: 55px;

        h1 {
            font-size: 4.4rem;
        }
    }

    body {
        .page-wrapper {

            .page-header {
                .header.content {
                    padding-top: 0;

                    .account-container {
                        .customer-login {
                            margin-right: 0;
                        }

                        .customer-sign-out {
                            margin-left: 20px;
                        }
                    }

                    .logo-container {
                        margin-right: auto;
                        margin-left: 50px;

                        .logo {
                            padding-left: 0;

                            img {
                                height: 150px;
                            }
                        }
                    }
                }
            }
        }

        .nav-sections {
            .nav-sections-items {
                .nav-sections-item-content {
                    .navigation {
                        .ui-menu {
                            text-align: center;
                        }
                    }
                }
            }
        }

        .page-footer {
            .footer.content {
                .newsletter {
                    .title {
                        margin-bottom: 25px;
                        font-size: 2.6rem;
                    }

                    .content {
                        .form.subscribe {
                            .actions {
                                display: table-cell;
                                width: 1%;

                                .action.subscribe {
                                    margin-top: 0;
                                }
                            }
                        }
                    }
                }

                .footer-info-container {
                    .footer-info-content.first {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: (@screen__xs - 1)) {
    body {
        .page-wrapper {
            .page-header {
                .header.content {
                    .block-search {
                        margin-bottom: 15px;
                        margin-top: 0;
                        width: 100%;

                        form {
                            .field.search {
                                .label {
                                    display: none;
                                }

                                .control {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }

            .nav-sections {
                .nav-sections-items {
                    .nav-sections-item-content {
                        padding: 0;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: (@screen__m - 1)) {
 body{
     .page-wrapper {
         .breadcrumbs{
             margin-top: 20px;
         }
     }
 }
}

@media only screen and (min-width: @screen__l) {
    body {
        .page-wrapper {
            .page-header {
                .header.content {
                    .logo-container {
                        .logo {
                            img {
                                height: auto;
                                width: 300px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: @screen__xl) {
    body {
        .page-wrapper {
            .page-header {
                .header.content {
                    .logo-container {
                        .logo {
                            img {
                                width: 330px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: @screen__xxl) {
    .container {
        max-width: 1420px;
    }

    body {
        .page-wrapper {
            .page-header {
                .header.content {
                    .logo-container {
                        .logo {
                            img {
                                width: 360px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: @screen__xxxl) {
    .container {
        max-width: 1660px;
    }
}
