@screen__xxs: 320px;
@screen__xs: 480px;
@screen__s: 640px;
@screen__m: 768px;
@screen__md: 992px;
@screen__l: 1024px;
@screen__xl: 1440px;
@screen__xxl: 1920px;
@screen__xxxl: 2560px;

@margin-base-xs: 5px;
@margin-base-s: 10px;
@margin-base: 15px;
@margin-base-sm: 25px;
@margin-base-m: 30px;
@margin-base-l: 40px;
@margin-base-xl: 50px;

@color-black: #000000;
@color-white: #FFFFFF;

@color-blue: #2A72A8;
@color-blue-dark: #0D4F70;

@color-secondary: #E2B80A;
@color-grey-dark: #3D3D3D;
@color-grey-medium: #606060;
@color-grey-soft: #AAAAAA;

@theme__color__primary: @color-blue; // icons, buttons...
@theme__color__primary-alt: @color-black; // buttons hover...
@theme__color__secondary: #404040; // ribbons...
@theme__color__background: #FFFFFF; // backgrounds...

@primary__color: @color-black; //

@color-black-alpha60: fade(@color-black, 60%);
@color-black-alpha50: fade(@color-black, 50%);
@color-black-alpha30: fade(@color-black, 30%);
@color-black-alpha25: fade(@color-black, 25%);
@color-black-alpha20: fade(@color-black, 20%);
@color-black-alpha10: fade(@color-black, 10%);
@color-black-alpha05: fade(@color-black, 5%);


@font-family-name__base: 'Cormorant Garamond';
@font-family__base: @font-family-name__base, @font-family__serif;

@font-family-name__secondary: 'Lato';
@font-family__secondary: @font-family-name__secondary, @font-family__sans-serif;

//
//  Global
//  ---------------------------------------------
@form-field__vertical-indent: 10px;
@form-field-column__padding: 0 40px 0 0;
@form-field-type-control-inline__width: 100%;
@form-field-type-label-inline__width: false;
@form-field-label__font-weight: false;


//
//  Input
//  ---------------------------------------------
@form-element-input__background: none;
@form-element-input__border-color: @color-black-alpha20;
@form-element-input__border: 0;
@form-element-input__border-bottom: 1px solid @form-element-input__border-color;
@form-element-input__border-radius: 0;
@form-element-input__height: 48px;
@form-element-input__padding: 10px 0;
@form-element-input__color: false;
@form-element-input__font-family: @font-family__base;
@form-element-input__line-height: 1.56;

@page__background-color: #F7F7F7;
